.main {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.main p {
  font-size: 1.25rem;
  margin-top: 2rem;
}

.main .shazamContainer {
  width: 11rem;
  height: 11rem;
  background-color: white;
  border-radius: 50%;
  animation: normal 4s infinite;
  position: relative;
}

.main .icon {
  width: 12rem;
  height: 12rem;
  font-weight: 400;
  color: var(--icon-grey);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* display: none; */
}

.main .search {
  font-size: 1.5rem;
  width: 2.5rem;
  aspect-ratio: 1/1;
  background-color: var(--icon-grey);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-bottom: 2rem;
}

@keyframes normal {
  0% {
    scale: 1;
  }
  50% {
    scale: 2;
  }
  100% {
    scale: 1;
  }
}
